name: Add PR to project

on:
  pull_request:
    types:
      - opened

jobs:
  add-to-project:
    name: Add PR to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.5.0
        with:
          project-url: https://github.com/orgs/imgix/projects/4
          github-token: ${{ secrets.GH_TOKEN }}
